<div class="border border border-primary h-100">
  <div class="card-header border-primary font-italic font-weight-bold">
    Student Communication Address
  </div>
  <div class="container">
    <div class="row mt-2 form-group">
      <label class="col-sm-2">House Number</label>
      <div class="col-sm-2"><input type="text" class="form-control" /></div>
    </div>
    <div class="row mt-2 form-group">
      <label class="col-sm-2">Street/Road</label>
      <div class="col-sm-2"><input type="text" class="form-control" /></div>
    </div>
    <div class="row mt-2 form-group">
      <label class="col-sm-2">Country</label>
      <div class="col-sm-4">
        <select class="col-sm-6 form-control">
          <option>select</option>
        </select>
      </div>
    </div>
    <div class="row mt-2 form-group">
      <label class="col-sm-2">State/Province</label>
      <div class="col-sm-4">
        <select class="col-sm-6 form-control">
          <option>select</option>
        </select>
      </div>
    </div>
    <div class="row mt-2 form-group">
      <label class="col-sm-2">City</label>
      <div class="col-sm-4">
        <select class="col-sm-6 form-control">
          <option>select</option>
        </select>
      </div>
    </div>
    <div class="row mt-2 form-group">
      <label class="col-sm-2">Zip/Pin Code</label>
      <div class="col-sm-2"><input type="text" class="form-control" /></div>
    </div>
  </div>
  <button class="btn btn-info">
    <a routerLink="../StudentParentDetails" style="text-decoration: none; color: white"
      >Back</a
    >
  </button>
  <button class="btn btn-info float-right">
    <a routerLink="../AddDocument" style="text-decoration: none; color: white"
      >NEXT</a
    >
  </button>
</div>
