<div class=" border border-primary h-100">
<div class=" card-header border-primary">
    <div class="row">
        <div   class=" col-sm-10" >  School Acadamic Year</div>
    <div  class=" col-sm-2 ">  <button class="btn btn-success" >
        <a routerLink="./addschoolacademicyear"  style="text-decoration: none;color: white; " data-toggle="modal" data-target="#myModal">ADD</a>
    </button>
        
    </div>
    </div>
    
  
</div>
<div  class="container-fluid">
    <div class="row  card-header">
        <div class="col-sm-3">Academic Start Date</div>
        <div class="col-sm-3">Academic End Date</div>
        <div class="col-sm-3">Current Academic </div>
        <div class="col-sm-3">Edit</div>
    </div>
    <div class="row border-bottom" *ngFor="let list of academic">
         <div class="col-sm-3">{{list.AcademicStartDate | date: 'MM/dd/yyyy'}}</div>
        <div class="col-sm-3">{{list.AcademicEndDate | date: 'MM/dd/yyyy' }}</div>
        <div class="col-sm-3">
            <div *ngIf="list.IsCurrentAcademic==true else elseBlock">yes
         </div>
         <ng-template #elseBlock>No</ng-template>  
        </div>
        <div class="col-sm-3"><a [routerLink]="['./editschoolacademicyear',list.AcademicID]" routerLinkActive="active" data-toggle="modal" data-target="#myModal">Edit</a>
            
        </div>
    </div>

</div>
<router-outlet></router-outlet>
</div>
