<div class=" col-sm-12 border border-primary h-100">
<div class=" card-header">
    School Acadamic Year
</div>
<div  class="container-fluid">
    <div class="row border">
        <div class="col-sm-3">Academic Start Date</div>
        <div class="col-sm-3">Academic End Date</div>
        <div class="col-sm-3">Current Academic </div>
        <div class="col-sm-3">Edit</div>
    </div>
    <div class="row" *ngFor="let list of Academic">
        <div class="col-sm-3">{{list.AcademicStartDate | date: 'dd/MM/yyyy'}}</div>
        <div class="col-sm-3">{{list.AcademicEndDate | date: 'dd/MM/yyyy' }}</div>
        <div class="col-sm-3">
            <div *ngIf="list.IsCurrentAcademic==true else elseBlock">yes
         </div>
         <ng-template #elseBlock>No</ng-template>  
        </div>
        <div class="col-sm-3"><a routerLink="./second-component" routerLinkActive="active">Edit</a></div>
    </div>

</div>
<router-outlet></router-outlet>
</div>
