<div class=" col-sm-12 border border-primary h-100">
<div class=" card-header">
    School Acadamic Year
</div>
<div  class="container-fluid">
    <div class="row border">
        <div class="col-sm-3">Academic Start Date</div>
        <div class="col-sm-3">Academic End Date</div>
        <div class="col-sm-3">Current Academic </div>
        <div class="col-sm-3">Edit</div>
    </div>
    <div class="row">
        <div class="col-sm-3">data</div>
        <div class="col-sm-3">data</div>
        <div class="col-sm-3">data</div>
        <div class="col-sm-3">data</div>
    </div>
</div>
</div>