<div class="border border border-primary h-100">
    <div></div>
    <div class="card-header border-primary">School Subject</div>

<div class="border  container ">

    <form [formGroup]="SchoolSubForm"  (ngSubmit)="onSubmit()">

<div class=" mt-2 mb-2 form-inline">
    <div class="col-sm-4 form-group">
        <label>Subject Code:</label>
        <input type="text" class="form-control" formControlName="SubjectCode"  [ngClass]="{ 'is-invalid': submitted && Subval.SubjectCode.errors}" />

        <div *ngIf="submitted && Subval.SubjectCode.errors" class="invalid-feedback">
            <div *ngIf="Subval.SubjectCode.errors.required">
                Subject Code Required
            </div>
             
            </div>
    </div>
    <div class="col-sm-4 form-group">
        <label>Subject Name:</label>
        <input type="text" class="form-control" formControlName="SubjectName"  [ngClass]="{ 'is-invalid': submitted && Subval.SubjectName.errors}" >

        <div *ngIf="submitted && Subval.SubjectName.errors" class="invalid-feedback">
            <div *ngIf="Subval.SubjectName.errors.required">
                Subject Name Required
            </div>
             
            </div>
    </div>
    <div class="col-sm-3 form-group" >
        <label>Category:</label>
        <select class="">
            <option  *ngFor="let category of SchoolSubCategory"  [value]="category.Category_id">{{category.CategoryName}} </option>
          
        </select>
      
    </div>
    <div><input type="submit" value="ADD" class="btn btn-success" ></div>
</div>

</form>
</div>


 <div class="card-header">
        <div class="row">
            <div class="col-sm-4">Subject Code</div>
        <div class="col-sm-4">Subject Name</div>
        <div class="col-sm-4">Category</div>
    </div>
    
        
    </div>
    <div class="row "  *ngFor="let ListSub of SchoolSub">
        <div class="col-sm-4">{{ListSub.Subjectcode}}</div>
    <div class="col-sm-4">{{ListSub.Subjectname}}</div>
    <div class="col-sm-4">{{ListSub.Category_id}}</div>
</div>


</div>
