<div class="border border border-primary h-100">
    <div></div>
    <div class="card-header border-primary">School Subject</div>

<div class="border  container ">
<div class=" mt-2 mb-2 form-inline">
    <div class="col-sm-4 form-group">
        <label>Subject Code:</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-sm-4 form-group">
        <label>Subject Name:</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-sm-3 form-group" >
        <label>Category:</label>
        <select class="">
            <option>one</option>
            <option>oneONEONEONEPONE</option>
        \</select>
    </div>
    <div><input type="submit" ></div>
</div>
</div>


 <div class="card-header">
        <div class="row">
            <div class="col-sm-4">Subject Code</div>
        <div class="col-sm-4">Subject Name</div>
        <div class="col-sm-4">Category</div>
    </div>
    
        
    </div>
    <div class="row ">
        <div class="col-sm-4">S.No</div>
    <div class="col-sm-4">School Class Name</div>
    <div class="col-sm-4">Display Order</div>
</div>


</div>
