<div class="border border border-primary h-100">
  <div></div>
  <div class="card-header border-primary">Class Subject</div>
  <div class="d-flex justify-content-center mt-3">
    <form [formGroup]="ClsSubForm">
      <div>
        <label for="cars">Class:</label>

        <select name="" id="" (change)="GetClassSubject($event)">
          <option
            *ngFor="let listclssubs of ClassSubjects"
            [value]="listclssubs.ClassID"
          >
            {{ listclssubs.ClassName }}{{ listclssubs.ClassID }}
          </option>
        </select>
      </div>
    </form>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <div class="col-sm-6 border">
      <div class="card-header row">
        <div class="col-sm-1">
          <input
            type="checkbox"
            [(ngModel)]="masterSelected"
            name="masterSelected"
            id="masterSelected"
            (change)="checkUncheckAll()"
          />
        </div>
        <div class="col-sm-4">Subject Name</div>
        <div class="col-sm-2">Category</div>
      </div>

      <div
        class="col-sm-12"
        *ngFor="let ListclsSub of ClassSubject; let i = index"
      >
        <div class="row border">
          <div class="col-sm-1">
            <input type="checkbox" [(ngModel)]="ListclsSub.IsSelected" />
          </div>
          <div class="col-sm-4">{{ ListclsSub.SubjectName }}</div>
          <div class="col-sm-2">{{ ListclsSub.CategoryName }}</div>
        </div>
      </div>
      <div class="float-right">
        <button (click)="Selectvalue()">Save</button>
      </div>
    </div>
  </div>
</div>
