<div class="border border border-primary h-100">
    <div></div>
    <div class="card-header border-primary">Class Subject</div>

    <div class="d-flex justify-content-center mt-3">

      <div>
        <div>
          <label for="cars">Class:</label>

          <select name="cars" id="cars">
            <option value="volvo">Volvovalovo valvol</option>
           
          </select>
        </div>
       
      </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
      
          <div class="col-sm-9 row ">
            <div class="col-sm-1">
              <input type="checkbox">
            </div>
            <div class="col-sm-3">Subject Name</div>
            <div class="col-sm-5">Category</div>
           
              
          </div>
         
      </div>


        
    
  

</div>

