<div class="col-sm-12" style="height: 100vh">
  <div>Header</div>
  <div class="row h-100">
    <div class="col-sm-2">
      <nav>
        <ul>
          <li>
            <a routerLink="/SchoolAcadamicYear" routerLinkActive="active"
              >School Acadamic Year</a
            >
          </li>

          <li>
            <a routerLink="/SchoolClasses" routerLinkActive="active"
              >School Classes</a
            >
          </li>

          <li>
            <a routerLink="/SchoolSubjects" routerLinkActive="active"
              >School Subjects</a
            >
          </li>

          <li>
            <a routerLink="/ClassSubjects" routerLinkActive="active"
              >Class Subjects</a
            >
          </li>

          <li>
            <a routerLink="/Add-Student" routerLinkActive="active"
              >Add-Student</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
