<div class="border border border-primary h-100">
  <div class="card-header border-primary font-italic font-weight-bold">
    Student Personal Details{{a}}
   
  </div>
  <div class="container">
    <form [formGroup]="StudentPersonalForm" (ngSubmit)="onSubmit()">
      <div>
        <div class="row mt-2 form-group">
          <label class="col-sm-2">Name FML</label>
         
          <div class="col-sm-2">
            <input
              type="text"
              class="form-control"
              formControlName="FirstName"
              [ngClass]="{
                'is-invalid': submitted && StudentControl.FirstName.errors
              }"
            />
            <div
              *ngIf="submitted && StudentControl.FirstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="StudentControl.FirstName.errors.required"></div>
            </div>
          </div>
          <div class="col-sm-2">
            <input
              type="text"
              class="form-control"
              formControlName="MiddleName"
            />
          </div>
          <div class="col-sm-2">
            <input
              type="text"
              class="form-control"
              formControlName="LastName"
              [ngClass]="{
                'is-invalid': submitted && StudentControl.LastName.errors
              }"
            />
            <div
              *ngIf="submitted && StudentControl.LastName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="StudentControl.LastName.errors.required"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Admissioin No</label>
        <div class="col-sm-2">
          <input
            type="text"
            class="form-control"
            formControlName="Admission"
            [ngClass]="{
              'is-invalid': submitted && StudentControl.Admission.errors
            }"
          />
          <div
            *ngIf="submitted && StudentControl.Admission.errors"
            class="invalid-feedback"
          >
            <div *ngIf="StudentControl.Admission.errors.required">
              <div>Minlength1 and Maxlength 4</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 custom-control">
        <label class="col-sm-2">Gender</label>
        <div class="col-sm-1">
          <input
            type="radio"
            value="true"
            name="Gender"
            class="form-check-input"
          />Male
        </div>
        <div class="col-sm-1">
          <input
            type="radio"
            value="false"
            name="Gender"
            class="form-check-input"
          />Female
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">MotherToggue</label>
        <div class="col-sm-2"><input type="text" class="form-control" /></div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Email ID</label>
        <div class="col-sm-2">
          <input
            type="text"
            class="form-control"
            formControlName="EmailID"
            [ngClass]="{
              'is-invalid': submitted && StudentControl.EmailID.errors
            }"
          />
          <div
            *ngIf="submitted && StudentControl.EmailID.errors"
            class="invalid-feedback"
          >
            <div *ngIf="StudentControl.EmailID.errors.required"></div>
          </div>
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Date Of Joining</label>
        <div class="col-sm-2">
          <input
            type="date"         
            class="form-control"
            formControlName="DateOfJoining"
 
          />

        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Aadhar Card Number</label>
        <div class="col-sm-2">
          <input
            type="text"
            class="form-control"
            formControlName="AadharCardNumber"
          />
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Date Of Birth</label>
        <div class="col-sm-2">
          <input
            type="date"
            class="form-control"
            formControlName="DateOfBirth"
          />
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Religion</label>
        <div class="col-sm-4">
          <select class="col-sm-6 form-control" formControlName="Religion">
            <option value="0">Select</option>
            <option *ngFor="let ReligionList of StudentReligion">
              {{ ReligionList.ReligionName }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Nationality</label>
        <div class="col-sm-4">
          <select class="col-sm-6 form-control" formControlName="Nationality">
            <option value="0">Select</option>
            <option *ngFor="let NationalityList of StudentNationality">
              {{ NationalityList.Nationality1 }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Disability</label>
        <div class="col-sm-4">
          <select class="col-sm-6 form-control" formControlName="Disability">
            <option>select</option>
          </select>
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Category</label>
        <div class="col-sm-4">
          <select class="col-sm-6 form-control" formControlName="Category">
            <option value="0">Select</option>
            <option *ngFor="let CategoryList of StudentCategory">
              {{ CategoryList.Category1 }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Caste</label>
        <div class="col-sm-4">
          <select class="col-sm-6 form-control" formControlName="Caste">
            <option>select</option>
          </select>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="">
            <input type="checkbox" formControlName="SentLogin" />
            <p class="pr-1 float-left">Sent Login Information through mail</p>
          </div>
        </div>
      </div>
      <div>
        <input
          type="submit"
          value="NEXT"
          class="btn btn-info float-right"
          style="text-decoration: none; color: white"
        />
      </div>
    </form>
  </div>
</div>
