<div class="border border border-primary h-100">
  <div class="card-header border-primary font-italic font-weight-bold">
    Student Personal Details
  </div>
  <div class="container">
    <form [formGroup]="StudentPersonalForm" (ngSubmit)="onSubmit()">
      <div>
        <div class="row mt-2 form-group">
          <label class="col-sm-2">Name FML</label>
          <div class="col-sm-2">
            <input
              type="text"
              class="form-control"
              formControlName="FirstName"
              [ngClass]="{ 'is-invalid': submitted && StudentControl.FirstName.errors }"
            />
            <div
              *ngIf="submitted && StudentControl.FirstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="StudentControl.FirstName.errors.required"></div>
            </div>
          </div>
          <div class="col-sm-2">
            <input
              type="text"
              class="form-control"
              formControlName="MiddleName"
            />
          </div>
          <div class="col-sm-2">
            <input
              type="text"
              class="form-control"
              formControlName="LastName"
              [ngClass]="{ 'is-invalid': submitted && StudentControl.LastName.errors }"
            />
            <div
              *ngIf="submitted && StudentControl.LastName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="StudentControl.LastName.errors.required"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Admissioin</label>
        <div class="col-sm-2"><input type="text" class="form-control" /></div>
      </div>
      <div class="row mt-2 custom-control">
        <label class="col-sm-2">Gender</label>
        <div class="col-sm-1">
          <input
            type="radio"
            value="true"
            name="Gender"
            class="form-check-input"
          />Male
        </div>
        <div class="col-sm-1">
          <input
            type="radio"
            value="false"
            name="Gender"
            class="form-check-input"
          />Female
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">MotherToggue</label>
        <div class="col-sm-2"><input type="text" class="form-control" /></div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Email ID</label>
        <div class="col-sm-2"><input type="text" class="form-control" /></div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Date Of Joining</label>
        <div class="col-sm-2"><input type="text" class="form-control" /></div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Aadhar Card Number</label>
        <div class="col-sm-2"><input type="text" class="form-control" /></div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Date Of Birth</label>
        <div class="col-sm-2"><input type="date" class="form-control" /></div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Religion</label>
        <div class="col-sm-4">
          <select class="col-sm-6 form-control">
            <option>select</option>
          </select>
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Nationality</label>
        <div class="col-sm-4">
          <select class="col-sm-6 form-control">
            <option>select</option>
          </select>
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Disability</label>
        <div class="col-sm-4">
          <select class="col-sm-6 form-control">
            <option>select</option>
          </select>
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Category</label>
        <div class="col-sm-4">
          <select class="col-sm-6 form-control">
            <option>select</option>
          </select>
        </div>
      </div>
      <div class="row mt-2 form-group">
        <label class="col-sm-2">Caste</label>
        <div class="col-sm-4">
          <select class="col-sm-6 form-control">
            <option>select</option>
          </select>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="">
            <input type="checkbox" />
            <p class="pr-1 float-left">Sent Login Information through mail</p>
          </div>
        </div>
      </div>
      <div>
        <input
          type="submit"
          value="NEXT"
          class="btn btn-info float-right"
          style="text-decoration: none; color: white"
        />
      </div>
    </form>
  </div>
</div>
