<div class="border border border-primary h-100">
  <div class="card-header border-primary font-italic font-weight-bold">
    Student Personal Details
  </div>

  <div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2">Password</label>
      <div class="col-sm-2 row">
        <div>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            placeholder="Password"
          />
        </div>
        <div>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            placeholder="Password"
          />
        </div>

        <div>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            placeholder="Password"
          />
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
