

<div class="border border border-primary h-100">
  <div class="card-header border-primary font-italic font-weight-bold">
    Student Document Details
  </div>


  <div class="container">
    <div class="row mt-2 ">
      <label class="col-sm-2">Student Photo</label>
      <div class="col-sm-2"><input type="file"  /></div>
    </div>
    <div class="row mt-2 ">
      <label class="col-sm-2">Aahder card Photo</label>
      <div class="col-sm-2"><input type="file"  /></div>
    </div>
  
  <div>
    <div class="d-flex flex-wrap align-content-center">
      <div class="d-flex align-content-sm-around"><button class="align-content-center">Submit</button></div>
    </div>
  </div>
  <button class="btn btn-info">
    <a routerLink="../StudentCommunicationAddress" style="text-decoration: none; color: white"
      >Back</a
    >
  </button>
</div>
